.background{
  background-size: cover;
  background-image: url(/static/esslingen.jpg);
}
.jumbotron{
    background-color: white !important;
    opacity: 0.5;
    background-size: 100%;
}
.jumbotron p{
    padding-bottom: 400px;
}
h1{
    color: black !important;
    text-align: center;
    opacity: 1;
}
#centering{
    color: black !important;
    text-align: center;
    opacity: 1;
}
#red-letters{
    color: #a71d1d;
    font-weight: bold;;
}
#yellow-w{
    color: #dcc209;
    font-weight: bold;;
}
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}