.background{
  background-size: cover;
  background-image: url(/static/esslingen.jpg);
  background-repeat: no-repeat;
}
.jumbotron{
    background-color: white !important;
    opacity: 0.78;
    background-size: 100%;
}
p{
    color: black;
    font-weight: bold !important;
}
h1{
    color: black !important;
    text-align: center;
}
h2{
    color: black;
}
#centering{
    color: black !important;
    text-align: center;
    opacity: 1;
}
#red-letters{
    color: #a71d1d;
    font-weight: bold;;
}
#yellow-w{
    color: #dcc209;
    font-weight: bold;;
}
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}
