{% extends 'base.html' %}

{% block title %} TeamTalk

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
   <h1><span id="yellow-w">W</span><span id="red-letters">illkommen!</span></h1>
    <p id="centering">Diese Website ermöglicht Ihnen, der Trainer, alle Ihre Athleten in Text durch eine Nachricht auf der Teamseite eingeben. Bitte registrieren Ihr Team zuerst, dann können Sie einzelne Athleten hinzufügen. Jeder Athlet kann sich auch registrieren, bieten nur den Link zu dieser Website. Sie müssen nicht mehr über Ihre ausländischen Athleten sorgen! Sie werden Texte in ihrer Muttersprache erhalten und ihre Antworten werden automatisch in deutscher Sprache zu dir zurückkommen. Um damit zu beginnen, eine Option aus der Navigationsleiste am oberen Rand wählen.</p>
    </div>
  </div>
{% endblock %}